<c-row ngPreserveWhitespaces>
    <c-col xs="4">
    <c-card class="mb-4">
      <c-card-body>
          <c-card style="width: 100%;">
            <ng-container *ngTemplateOutlet="imgAngularTemplate" />
            <c-card-body>
              <h5 cCardTitle>redmamba_99_</h5>
              <p cCardText>
                Some quick example text to build on the card title and make up the
                bulk of the card content.
              </p>
            </c-card-body>
            <ul [flush]="true" cListGroup>
              <li cListGroupItem>Cras justo odio</li>
              <li cListGroupItem>Dapibus ac facilisis in</li>
              <li cListGroupItem>Vestibulum at eros</li>
            </ul>
            <c-card-body>
              <a [routerLink]="[]" cCardLink>Card link</a>
              <a [routerLink]="[]" cCardLink>Another link</a>
            </c-card-body>
          </c-card>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="4">
    <c-card class="mb-4">
      <c-card-body>
          <c-card style="width: 100%;">
            <ng-container *ngTemplateOutlet="imgAngularTemplate" />
            <c-card-body>
              <h5 cCardTitle>redmamba_99_</h5>
              <p cCardText>
                Some quick example text to build on the card title and make up the
                bulk of the card content.
              </p>
            </c-card-body>
            <ul [flush]="true" cListGroup>
              <li cListGroupItem>Cras justo odio</li>
              <li cListGroupItem>Dapibus ac facilisis in</li>
              <li cListGroupItem>Vestibulum at eros</li>
            </ul>
            <c-card-body>
              <a [routerLink]="[]" cCardLink>Card link</a>
              <a [routerLink]="[]" cCardLink>Another link</a>
            </c-card-body>
          </c-card>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="4">
    <c-card class="mb-4">
      <c-card-body>
          <c-card style="width: 100%;">
            <ng-container *ngTemplateOutlet="imgAngularTemplate" />
            <c-card-body>
              <h5 cCardTitle>redmamba_99_</h5>
              <p cCardText>
                Some quick example text to build on the card title and make up the
                bulk of the card content.
              </p>
            </c-card-body>
            <ul [flush]="true" cListGroup>
              <li cListGroupItem>Cras justo odio</li>
              <li cListGroupItem>Dapibus ac facilisis in</li>
              <li cListGroupItem>Vestibulum at eros</li>
            </ul>
            <c-card-body>
              <a [routerLink]="[]" cCardLink>Card link</a>
              <a [routerLink]="[]" cCardLink>Another link</a>
            </c-card-body>
          </c-card>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row ngPreserveWhitespaces>
    <c-col xs="4">
    <c-card class="mb-4">
      <c-card-body>
          <c-card style="width: 100%;">
            <ng-container *ngTemplateOutlet="imgAngularTemplate" />
            <c-card-body>
              <h5 cCardTitle>redmamba_99_</h5>
              <p cCardText>
                Some quick example text to build on the card title and make up the
                bulk of the card content.
              </p>
            </c-card-body>
            <ul [flush]="true" cListGroup>
              <li cListGroupItem>Cras justo odio</li>
              <li cListGroupItem>Dapibus ac facilisis in</li>
              <li cListGroupItem>Vestibulum at eros</li>
            </ul>
            <c-card-body>
              <a [routerLink]="[]" cCardLink>Card link</a>
              <a [routerLink]="[]" cCardLink>Another link</a>
            </c-card-body>
          </c-card>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="4">
    <c-card class="mb-4">
      <c-card-body>
          <c-card style="width: 100%;">
            <ng-container *ngTemplateOutlet="imgAngularTemplate" />
            <c-card-body>
              <h5 cCardTitle>redmamba_99_</h5>
              <p cCardText>
                Some quick example text to build on the card title and make up the
                bulk of the card content.
              </p>
            </c-card-body>
            <ul [flush]="true" cListGroup>
              <li cListGroupItem>Cras justo odio</li>
              <li cListGroupItem>Dapibus ac facilisis in</li>
              <li cListGroupItem>Vestibulum at eros</li>
            </ul>
            <c-card-body>
              <a [routerLink]="[]" cCardLink>Card link</a>
              <a [routerLink]="[]" cCardLink>Another link</a>
            </c-card-body>
          </c-card>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<ng-template #imgAngularTemplate let-orientation>
    <img [cCardImg]="orientation ?? 'top'" src="assets/images/angular.jpg" alt="CoreUI for Angular">
  </ng-template>