<c-row ngPreserveWhitespaces>
    <c-col xs="12" *ngFor="let gp of all_gps; let id_gp = index">
      <c-card class="mb-4">
        <c-card-header>
            <strong>{{gp.name}}</strong> <svg cIcon name="cif-{{gp.flag}}" size="m"></svg>
            <small>{{gp.date}}</small>
        </c-card-header>
        <c-card-body>
            <table cTable>
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Gara</th>
                <th scope="col">Sprint #1</th>
                <th scope="col">Sprint #2</th>
                <th scope="col">Qualifica</th>
                <th scope="col">Prove Libere</th>
              </tr>
              </thead>
                <tbody>
                  <tr *ngFor="let gp_result of gp.data.race; let id_gp_result = index">
                    <th scope="row">{{id_gp_result + 1}}</th>
                    <td>{{gp.data.race[id_gp_result]}}</td>
                    <td>{{gp.data.sprint_1[id_gp_result]}}</td>
                    <td>{{gp.data.sprint_2[id_gp_result]}}</td>
                    <td>{{gp.data.qualify[id_gp_result]}}</td>
                    <td>{{gp.data.free_practice[id_gp_result]}}</td>
                  </tr>
                </tbody>
            </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  