<c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
  <c-modal-header>
    <h5 cModalTitle>Registrazione</h5>
    <button cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form cForm (ngSubmit)="onRegistration()">
      <c-container breakpoint="md" class="px-4">
        <c-row [gutter]="{gy: 5}">
          <c-col>
            <div [cFormFloating]="true" class="mb-3">
              <input cFormControl
                     class="m-2"
                     type="text"
                     id="name"
                     [(ngModel)]="name"
                     name="name"
                     placeholder="Nome"
                     required>
              <label cLabel for="name">Nome:</label>
            </div>
          </c-col>
        </c-row>
        <c-row [gutter]="{gy: 5}">
          <c-col>
            <div [cFormFloating]="true" class="mb-3">
              <input cFormControl
                     class="m-2"
                     type="text"
                     id="surname"
                     [(ngModel)]="surname"
                     name="surname"
                     placeholder="Cognome"
                     required>
              <label cLabel for="surname">Cognome:</label>
            </div>
          </c-col>
        </c-row>
        <c-row [gutter]="{gy: 5}">
          <c-col>
            <div [cFormFloating]="true" class="mb-3">
              <input cFormControl
                     class="m-2"
                     type="text"
                     id="regUsername"
                     [(ngModel)]="regUsername"
                     name="regUsername"
                     placeholder="Username"
                     required>
              <label cLabel for="regUsername">Username:</label>
            </div>
          </c-col>
        </c-row>
        <c-row [gutter]="{gy: 5}">
          <c-col>
            <div [cFormFloating]="true" class="mb-3">
              <input cFormControl
                     id="regPassword"
                     placeholder="Password"
                     type="password"
                     class="m-2"
                     autocomplete="off"
                     [(ngModel)]="regPassword"
                     name="regPassword"
                     required>
              <label cLabel for="regPassword">Password:</label>
            </div>
          </c-col>
        </c-row>
        <c-row [gutter]="{gy: 5}">
          <c-col>
            <div [cFormFloating]="true" class="mb-3">
              <input cFormControl
                     id="confirmPassword"
                     placeholder="Conferma Password"
                     type="password"
                     class="m-2"
                     autocomplete="off"
                     [(ngModel)]="confirmPassword"
                     name="confirmPassword"
                     required>
              <label cLabel for="confirmPassword">Conferma Password:</label>
            </div>
          </c-col>
        </c-row>
        @if (singInErrorMessage) { <p class="errorMessage">{{ singInErrorMessage }}</p> }
        @if (successMessage) { <p class="successMessage">{{ successMessage }}</p> }
        <div class="container">
          <button cButton class="m-1" color="primary" type="submit" [disabled]="isLoading">
            @if (isLoading) {
              <c-spinner aria-hidden="true" size="sm"></c-spinner>
            }
            Registrati
          </button>
        </div>
      </c-container>
    </form>
  </c-modal-body>
</c-modal>