<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true" class="border-bottom px-sm-4 px-2">

    <c-header-nav class="mx-0 d-flex align-items-center justify-content-between w-100" style="height: 10px;">
      
      <button
        [cSidebarToggle]="sidebarId()"
        cHeaderToggler
        class="btn"
        toggle="visible"
        style="margin-inline-start: -14px"
        aria-label="Toggle sidebar navigation"
        >
        <svg cIcon name="cilMenu" size="lg"></svg>
      </button>

      <div class="flex-grow-1 d-flex justify-content-center">
        <app-countdown></app-countdown>
      </div>

      <!-- <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div> -->

      <c-dropdown alignment="end" variant="nav-item">
        <button [caret]="false" cDropdownToggle aria-label="External links" class="external-link-button">
          <svg cIcon name="cilLink" size="lg"></svg>
        </button>
        <div cDropdownMenu>
          <a
            cDropdownItem
            href="https://www.twitch.tv/dreandos"
            target="_blank"
            rel="noopener noreferrer"
            class="d-flex align-items-center twitch-link"
          >
            <svg cIcon class="me-2" name="cibTwitch" size="lg" style="color: #6441a5"></svg>
            Dreandos
          </a>

          <a
            cDropdownItem
            href="https://www.instagram.com/raceforfederica"
            target="_blank"
            rel="noopener noreferrer"
            class="d-flex align-items-center instagram-link"
          >
            <svg cIcon class="me-2" name="cibInstagram" size="lg" style="color: #c13584"></svg>
            RaceForFederica
          </a>
        </div>
      </c-dropdown>

      <ng-container *ngTemplateOutlet="themeDropdown" />

      <login-component></login-component>

    </c-header-nav>

   
  </c-container>
  
</ng-container>

<!--</c-header>-->

<ng-template #themeDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button [caret]="false" cDropdownToggle aria-label="Open theme picker">
      <svg cIcon [name]="icons()" size="lg"></svg>
    </button>
    <div cDropdownMenu>
      @for (mode of colorModes; track mode.name) {
      <button
        (click)="colorMode.set(mode.name)"
        [active]="colorMode() === mode.name"
        cDropdownItem
        class="d-flex align-items-center"
      >
        <svg cIcon class="me-2" [name]="mode.icon" size="lg"></svg>
        {{ mode.text }}
      </button>
      }
    </div>
  </c-dropdown>
</ng-template>