<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true" class="border-bottom px-sm-4 px-2">

    <c-header-nav class="mx-0 d-flex align-items-center justify-content-between w-100" style="height: 10px;">
      
      <button
        [cSidebarToggle]="sidebarId()"
        cHeaderToggler
        class="btn"
        toggle="visible"
        style="margin-inline-start: -14px"
        aria-label="Toggle sidebar navigation"
        >
        <svg cIcon name="cilMenu" size="lg"></svg>
      </button>

      <div class="flex-grow-1 d-flex justify-content-center">
        <countdown-component></countdown-component>
      </div>

      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>

      <app-link-box
        linkUrl="https://www.twitch.tv/dreandos"
        [icon]="linkIcon.cibTwitch"
        color="#6441a5"
      ></app-link-box>

      <app-link-box
        linkUrl="https://www.instagram.com/raceforfederica"
        [icon]="linkIcon.cibInstagram"
        color="#c13584"
      ></app-link-box>
      
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>

      <ng-container *ngTemplateOutlet="themeDropdown" />

      <login-component></login-component>

    </c-header-nav>

   
  </c-container>
  
</ng-container>

<!--</c-header>-->

<ng-template #themeDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button [caret]="false" cDropdownToggle aria-label="Open theme picker">
      <svg cIcon [name]="icons()" size="lg"></svg>
    </button>
    <div cDropdownMenu>
      @for (mode of colorModes; track mode.name) {
      <button
        (click)="colorMode.set(mode.name)"
        [active]="colorMode() === mode.name"
        cDropdownItem
        class="d-flex align-items-center"
      >
        <svg cIcon class="me-2" [name]="mode.icon" size="lg"></svg>
        {{ mode.text }}
      </button>
      }
    </div>
  </c-dropdown>
</ng-template>