<div class="container-fluid">
    <!-- Header della pagina -->
    <div class="row">
      <div class="col">
        <h1 class="mt-4">Regolamento Ufficiale Campionato 📜</h1>
        <p class="lead">Seguire attentamente le regole per garantire una competizione corretta e divertente per tutti.</p>
      </div>
    </div>
  
    <div class="row">
      <!-- Calendario e Formato delle Gare -->
      <div class="col-lg-12">
        <div class="card mb-4">
          <div class="card-header bg-primary text-white">
            <strong>Calendario Campionato e Formato</strong>
          </div>
          <div class="card-body">
            <ul>
              <li><strong>Giorno del campionato:</strong> ogni lunedì sera</li>
              <li><strong>Orario di inizio:</strong> dalle 21:45 (puntuali)</li>
              <li><strong>Formato:</strong> 2 GP per serata, con qualifiche e gara (+sprint) per ogni GP</li>
              <li><strong>Meteo:</strong> dinamico, e se bisogna rifare le gara si mette lo stesso meteo</li>
              <li><strong>Scuderie Pilota:</strong> prestazioni reali, e scuderie assegnate inversamente all'abilità del pilota. Da stabilire all'inizio, ma possono subire variazioni</li>
              <li><strong>Durata prove libere:</strong> dalla fine della giornata precedente, alle 21:00 della giornata corrente</li>
              <li><strong>Durata qualifiche:</strong> sessione unica, dalla durata di 17 min (circa 3 giri lanciati)</li>
              <li><strong>Durata sprint:</strong> gara 5 giri</li>
              <li><strong>Durata gara:</strong> gara 35% (se GP sprint, gara 25%)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Punteggi del Campionato -->
      <div class="col-lg-3">
        <div class="card mb-4">
          <div class="card-header bg-success text-white">
            <strong>Punteggi Gara</strong>
          </div>
          <div class="card-body">
            <ul>
              <li><strong>1° posto:</strong> 25 punti</li>
              <li><strong>2° posto:</strong> 21 punti</li>
              <li><strong>3° posto:</strong> 18 punti</li>
              <li><strong>4° posto:</strong> 14 punti</li>
              <li><strong>5° posto:</strong> 11 punti</li>
              <li><strong>6° posto:</strong> 8 punti</li>
              <li><strong>7° posto:</strong> 5 punti</li>
              <li><strong>8° posto:</strong> 2 punti</li>
              <li><strong>DNF:</strong> 0 punti</li>
            </ul>
            <p><strong>Giro veloce:</strong> 2 punti.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-4">
          <div class="card-header bg-success text-white">
            <strong>Punteggi Sprint</strong>
          </div>
          <div class="card-body">
            <ul>
              <li><strong>1° posto:</strong> 10 punti</li>
              <li><strong>2° posto:</strong> 8 punti</li>
              <li><strong>3° posto:</strong> 7 punti</li>
              <li><strong>4° posto:</strong> 6 punti</li>
              <li><strong>5° posto:</strong> 4 punti</li>
              <li><strong>6° posto:</strong> 3 punti</li>
              <li><strong>7° posto:</strong> 2 punti</li>
              <li><strong>8° posto:</strong> 1 punti</li>
              <li><strong>DNF:</strong> 0 punti</li>
            </ul>
            <p><strong>Giro veloce:</strong> 1 punti.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-4">
          <div class="card-header bg-success text-white">
            <strong>Punteggi Qualifiche</strong>
          </div>
          <div class="card-body">
            <ul>
              <li><strong>1° posto:</strong> 7 punti</li>
              <li><strong>2° posto:</strong> 6 punti</li>
              <li><strong>3° posto:</strong> 5 punti</li>
              <li><strong>4° posto:</strong> 4 punti</li>
              <li><strong>5° posto:</strong> 3 punti</li>
              <li><strong>6° posto:</strong> 2 punti</li>
              <li><strong>7° posto:</strong> 1 punti</li>
              <li><strong>8° posto:</strong> 0 punti</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-4">
          <div class="card-header bg-success text-white">
            <strong>Punteggi Prove Libere</strong>
          </div>
          <div class="card-body">
            <ul>
              <li><strong>1° posto:</strong> 5 punti</li>
              <li><strong>2° posto:</strong> 4 punti</li>
              <li><strong>3° posto:</strong> 3 punti</li>
              <li><strong>4° posto:</strong> 2 punti</li>
              <li><strong>5° posto:</strong> 1 punti</li>
              <li><strong>6° posto:</strong> 0 punti</li>
              <li><strong>7° posto:</strong> 0 punti</li>
              <li><strong>8° posto:</strong> 0 punti</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Penalità e Comportamento in Pista -->
      <div class="col-lg-12">
        <div class="card mb-4">
          <div class="card-header bg-danger text-white">
            <strong>Penalità, Comportamento in Pista e Regole Generali</strong>
          </div>
          <div class="card-body">
            <ul>
              <li><strong>Contatto con colpa, danno terzo parziale:</strong> penalità di 5 sec, dopo voto con o senza prova video</li>
              <li><strong>Contatto con colpa, danno terzo terminale:</strong> penalità di 10 sec, dopo voto con o senza prova video</li>
              <li><strong>Contatto con colpa e sorpasso, no danno terzo:</strong> restituire posizione entro 1 giro</li>
              <li><strong>Contatto con colpa che causa spin/fuori pista e sorpasso, no danno terzo:</strong> penalità di 5 sec, dopo voto con o senza prova video/li>
              <li><strong>Ostruzione in qualifiche:</strong> arretramento 1 posizione in griglia</li>
              <li><strong>Uso improprio della chat vocale:</strong> lavori socialmente utili in Ruanda</li>
              <li><strong>Danno non terminale per 2o+ piloti nelle prime 2 curve della gara (non sprint):</strong> ricominciare (max 1 volta), e penalità di 5s contatto da fianco, 10s da dietro, e -1p patente per chi causa incidente se ripetuti (vedi sotto)</li>
              <li><strong>Danno terminale per 1o+ piloti nelle prime 2 curve della gara:</strong> vedi sopra</li>
              <li><strong>Danno non terminale per 1 pilota nelle prime 2 curve della gara:</strong> si va avanti</li>
              <li><strong>Danno terminale o non 1o+ piloti in qualifica:</strong> si va avanti</li>
              <li><strong>Danni ripetuti e/o gravi in una stessa serata di gare:</strong> -1 punto sulla patente, dopo voto con o senza prova video (si parte da 3 punti)</li>
              <li><strong>Pilota finisce i punti sulla patente:</strong> salta 1 gp (tutte le sessioni) e la volta dopo inizia da 1 punto in meno sulla patente</li>
              <li><strong>Pilota causa o prova a causare un incidente terminale volontariamente (per rabbia o altro):</strong> rimozione di tutti i punti dalla patente, e relativa penalità</li>
              <li><strong>Pilota abbandona volontariamente la gara, senza aver riportato un danno terminale (per rabbia o altro):</strong> DNF</li>
              <li><strong>Assetto sbagliato per il gp:</strong>si va avanti</li>
              <li><strong>Penalità date dal gioco:</strong> tutte valide (tranne se davvero ingiuste, con prova video)</li>
              <li><strong>Problemi di connessione / corrente / gioco / esterni da gara F123 3o+ piloti:</strong> prima del 75% di gara, gara da rifare con posizioni di partenza correnti; dopo il 75% di gara, si usa posizioni correnti come classifica </li>
              <li><strong>Problemi di connessione / corrente / gioco / esterni da gara F123 1o2 piloti:</strong> prima del 25% di gara, DNF; dopo il 25% di gara, punti delle ultime posizioni disponibili per i piloti con problemi, nell'ordine corrente</li>
              <li><strong>La gara deve essere continuata in un secondo momento (non rifatta da zero):</strong>La configurazione di macchine, posizioni, pista e meteo non può essere variata</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <!-- Sanzioni per Assenze Ingiustificate -->
      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-header bg-warning text-dark">
            <strong>Assenze e sanzioni</strong>
          </div>
          <div class="card-body">
            <ul>
              <li><strong>Assenza giustificata:</strong> notificata alla FIA 5 giorni prima, cambio data GP</li>
              <li><strong>Assenza ingiustificata:</strong> DNF</li>
              <li><strong>Arrivo in ritardo alla giornata giustificato:</strong> max 15 minuti dopo (22:00)</li>
              <li><strong>Arrivo in ritardo alla giornata ingiustificato:</strong> si saltano tutte le sessioni fino a quando arriva</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Incidenti e Reclami -->
      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-header bg-secondary text-white">
            <strong>Incidenti e Reclami</strong>
          </div>
          <div class="card-body">
            <p>I piloti possono presentare reclami ufficiali entro 24 ore dalla gara, allegando video o prove. I commissari valuteranno l'incidente e assegneranno penalità se necessario.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Regole Fanta -->
      <div class="col-lg-12">
        <div class="card mb-4">
          <div class="card-header bg-info text-dark">
            <strong>Regole Fanta</strong>
          </div>
          <div class="card-body">
            <div>
              I partecipanti al Fanta di RaceForFederica dovranno indovinare, o avvicinarsi il più possibile, l'ordine di arrivo di tutti i gran premi del campionato, il giro veloce, chi dei piloti farà DNF (aka did not finish) e il miglior costruttore (somma punti piloti).
              <br>
              I punteggi dei singoli voti sono così strutturati:
              <ul>
                <li>Il <strong>punteggio dell'ordine di arrivo</strong> dipende dalla distanza tra il tuo voto e la posizione reale del pilota:
                  <ul>
                    <li>Posizione corretta = 7 PT</li>
                    <li>Posizione ±1 = 4 PT</li>
                    <li>Posizione ±2 = 2 PT</li>
                    <li>Oltre = 0 PT</li>
                  </ul>
                </li>
                <li><strong>Giro veloce corretto:</strong> 5 PT</li>
                <li><strong>DNF corretto:</strong> 5 PT</li>
                <li><strong>Miglior costruttore corretto:</strong> 5 PT</li>
              </ul>
            Vota i prossimi 4 GP (ci sono 2 GP a settimana, ogni lunedì), e gioca con moderazione!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>