<c-row>
    <h1>Il team RaceForFederica</h1>
</c-row>
<c-row class="row-spacing">
    <c-col xs="6" md="4" lg="4">
        <c-card style="width: 100%;">
            <img [cCardImg]="'top'" src='./assets/images/avatars/redmamba_99_.png' alt="Paolo Celada's avatar" />
            <c-card-body style="height: 80px;">
                <h5 cCardTitle>Paolo Celada</h5>
                <small><em>CEO - Frontend Developer - Social Media Manager</em></small>
            </c-card-body>
            </c-card>
    </c-col>
    <c-col xs="6" md="4" lg="4">
            <c-card style="width: 100%;">
            <img [cCardImg]="'top'" src='./assets/images/avatars/FASTman.png' alt="Federico Degioanni's avatar" />
            <c-card-body style="height: 80px;">
                <h5 cCardTitle>Federico Degioanni</h5>
                <small><em>CFO - Graphics Designer</em></small>
            </c-card-body>
            </c-card>
    </c-col>
    <c-col xs="6" md="4" lg="4">
            <c-card style="width: 100%;">
            <img [cCardImg]="'top'" src='./assets/images/avatars/HeavyButt.png' alt="Andrea Dominici's avatar" />
            <c-card-body style="height: 80px;">
                <h5 cCardTitle>Andrea Dominici</h5>
                <small><em>CTO - Backend Developer </em></small>
            </c-card-body>
            </c-card>
    </c-col>
</c-row>
<c-row class="row-spacing">
    <c-col xs="1" md="1" lg="1">
    </c-col>   
    <c-col xs="10" md="10" lg="10">
        <em>
            Organizzare un campionato, mantenere una pagina Instagram e creare un sito richiede tempo, sudore e tante best****e. I premi costano e gli sponsor ancora non si vedono.<br>
            Se vi fa piacere supportare questo progettino ogni contributo è ben accetto, che siano 1, 2 o MILLE MILIONI di euro. 
        </em>
    </c-col>     
    <c-col xs="1" md="1" lg="1">
    </c-col>   
</c-row>
<c-row class="row-spacing">
    <c-col></c-col>
    <c-col>
        <a href="https://web.satispay.com/download/qrcode/S6Y-SVN--A65A664A-987B-4E85-82FC-BF444D1D0FC7?locale=it" class="satispay-button">
            <span class="satispay-icon-wrapper">
                <img src="./assets/images/others/satispay_logo.png" alt="Satispay logo" class="satispay-icon">
            </span>
            <span>Buy us a <strong>coffee</strong></span>
        </a>
    </c-col>
    <c-col></c-col>
</c-row>
<c-row class="row-spacing">
</c-row>
