/** LIGHTS SECTION **/
#lights_container {
    width: 210;
    height: fit-content;
    display: inline-flex;
}

.bulbs_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 120px;
    width: 55px;
    background-color: rgb(61, 61, 61);
    border-radius: 50px;
}

.bulb_up {
    background-color: rgb(34, 34, 34);
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 3px solid black;
}

.bulb {
    background-color: rgb(34, 34, 34);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid black;
    border-top: 13px solid black;
}

.red_light {
    background-color: red;
    transition: all 0 s;
}

.logo {
    background-color: transparent;
    background-size: contain;
    background-image: url('../../../assets/images/logo_raceforfederica.png');
    transition: all 0 s;
}

.fade.show {
    display: flex;
    justify-content: center;
    /* Horizontal centering */
    align-items: center;
    /* Vertical centering */
    text-align: center;
    /* Center text inside the div */
    height: 100vh;
    /* Full viewport height */
}

.lights-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; /* center vertically */
  align-items: center; /* center horizontally */
  text-align: center;
}

.lights-wrapper c-row {
  margin-bottom: 2rem; /* spacing between components */
}

.lights-wrapper .lights-help {
  font-size: 1.2rem;
  font-style: italic;
  color: #666;
}

.lights-wrapper .lights-result {
  font-size: 3rem;
  font-weight: 800;
  color: #dc3545; /* red for example */
  letter-spacing: 2px;
}


/* TEXT SECTIONS */
.lights-help {
  font-style: italic;
  font-size: 0.9rem; /* smaller than normal text */
  opacity: 0.9;      /* optional: slightly softer look */
}

.lights-score {
  font-size: 3rem;     /* make it large */
  font-weight: 800;    /* extra bold */
  text-transform: uppercase; /* optional: ensure all caps */
  letter-spacing: 2px; /* optional: space out the letters slightly */
  text-align: center;  /* center it */
}

.lights-best-score {
  font-style: italic;
  font-size: 0.9rem; /* smaller than normal text */
  opacity: 0.9;      /* optional: slightly softer look */
}

/* TABLE SECTION */
.custom-table {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden; /* Nasconde i bordi sporgenti */
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}