<c-dropdown #loginDropdown [autoClose]="'outside'">
  <button cButton cDropdownToggle color="transparent">
    <c-avatar [size]="'md'" [src]="'./assets/images/avatars_fanta/' + loggedUserId + '.png'"/>
  </button>
  <div *ngIf="!isLoggedIn">
      <ul cDropdownMenu [ngStyle]="{'min-width.px': 300}">
      <form cForm (ngSubmit)="onLogin()">
        <c-container breakpoint="md" class="px-4">
          <c-row [gutter]="{gy: 5}">
            <c-col>
              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl  
                  class="m-2" 
                  type="text" 
                  id="username" 
                  [(ngModel)]="username" 
                  name="username" 
                  placeholder="username"
                  required
                >
                <label cLabel for="SignInUsername">Username:</label>
              </div>
            </c-col>
          </c-row>
          <c-row [gutter]="{gy: 5}">
            <c-col>
              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl 
                id="password" 
                placeholder="Password" 
                type="password" 
                class="m-2" 
                autocomplete="off"
                [(ngModel)]="password" 
                name="password" 
                required
                >
                <p *ngIf="errorMessage" class="errorMessage">{{ errorMessage }}</p>
                <label cLabel for="password">Password:</label>
              </div>
            </c-col>
          </c-row>
          <div class="container">
            <button cButton class="m-1" color="primary" type="submit">Accedi</button>
          </div>
        </c-container>
      </form>
      <div class="container">
        <button [cModalToggle]="verticallyCenteredModal.id" color="link" cButton>oppure registrati</button>
      </div>
    </ul>
    </div>
    <div *ngIf="isLoggedIn">
      <ul cDropdownMenu>
        <li>
          <a cDropdownItem>
            <button cButton (click)="onLogout()" color="transparent">
              <c-row class="align-items-center">
                <c-col>
                  Logout
                </c-col>
                <c-col cols="auto">
                  <svg [cIcon]="logoutIcon" style="width: 1rem; height: 1rem;"></svg>
                </c-col>
              </c-row>
            </button>
          </a>
        </li>
      </ul>
    </div>
</c-dropdown>
  
<c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
  <c-modal-header>
    <h5 cModalTitle>Registrati</h5>
  </c-modal-header>

  <form cForm (ngSubmit)="onRegistration()" #registrationForm="ngForm">
    <c-modal-body>
    <c-container breakpoint="md" class="px-4">
      
      <!-- Campo Nome -->
      <c-row [gutter]="{gy: 5}">
        <c-col>
          <div [cFormFloating]="true" class="mb-3">
            <input 
              cFormControl 
              id="name" 
              placeholder="Nome" 
              type="text" 
              class="m-2" 
              autocomplete="on"
              [(ngModel)]="name" 
              name="name" 
              #nameField="ngModel"
              required
            >
            <label cLabel for="name">Nome:</label>
            <small class="text-danger" *ngIf="nameField.invalid && nameField.touched">Il nome è obbligatorio.</small>
          </div>
        </c-col>
      </c-row>
  
      <!-- Campo Cognome -->
      <c-row [gutter]="{gy: 5}">
        <c-col>
          <div [cFormFloating]="true" class="mb-3">
            <input 
              cFormControl 
              id="surname" 
              placeholder="Cognome" 
              type="text" 
              class="m-2" 
              autocomplete="on"
              [(ngModel)]="surname" 
              name="surname" 
              #surnameField="ngModel"
              required
            >
            <label cLabel for="surname">Cognome:</label>
            <small class="text-danger" *ngIf="surnameField.invalid && surnameField.touched">Il cognome è obbligatorio.</small>
          </div>
        </c-col>
      </c-row>
  
      <!-- Campo Username -->
      <c-row [gutter]="{gy: 5}">
        <c-col>
          <div [cFormFloating]="true" class="mb-3">
            <input 
              cFormControl 
              id="SignInUsername" 
              placeholder="Username" 
              type="text" 
              class="m-2" 
              [(ngModel)]="regUsername" 
              name="username" 
              #usernameField="ngModel"
              required
            >
            <label cLabel for="username">Username:</label>
            <small class="text-danger" *ngIf="usernameError">{{ usernameError }}</small>
            <small class="text-danger" *ngIf="usernameField.invalid && usernameField.touched">L'username è obbligatorio.</small>
          </div>
        </c-col>
      </c-row>
  
      <div class="avviso">
        <p>
          <svg [cIcon]="warningIcon" style="color: #eed202"></svg>
          DISCLAIMER: non usare passwords importanti. Le password non vengono criptate
          <svg [cIcon]="warningIcon" style="color: #eed202"></svg>
        </p>
      </div>
      
      <!-- Campo Password -->
      <c-row [gutter]="{gy: 5}">
        <c-col>
          <div [cFormFloating]="true" class="mb-3">
            <input 
              cFormControl 
              id="SignInPassword" 
              placeholder="Password" 
              type="password" 
              class="m-2" 
              [(ngModel)]="regPassword" 
              name="password" 
              #passwordField="ngModel"
              required
              minlength="4"
            >
            
            <label cLabel for="SignInPassword">Password:</label>
            <small class="text-danger" *ngIf="passwordField.invalid && passwordField.touched">La password è obbligatoria.</small>
          </div>
        </c-col>
      </c-row>

      <c-row [gutter]="{gy: 5}">
        <c-col>
          <div [cFormFloating]="true" class="mb-3">
            <input 
              cFormControl 
              id="confirmPassword" 
              placeholder="Password" 
              type="password" 
              class="m-2" 
              [(ngModel)]="confirmPassword" 
              name="confirmPassword" 
              #confirmPasswordField="ngModel"
              required
              minlength="4"
            >
            <label cLabel for="confirmPassword">Conferma Password:</label>
            <small class="text-danger" *ngIf="confirmPasswordField.invalid && confirmPasswordField.touched">La password è obbligatoria.</small>
          </div>
        </c-col>
      </c-row>

    </c-container>
  </c-modal-body>
  <c-modal-footer>
      <p *ngIf="singInErrorMessage" class="errorMessage">{{ singInErrorMessage }}</p>
    <button [cModalToggle]="verticallyCenteredModal.id" cButton color="secondary">
      Close
    </button>
    <button cButton class="btn btn-primary"  type="submit" [disabled]="registrationForm.invalid" >Registrati</button>
  </c-modal-footer>
  </form>
</c-modal>
