.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .avviso {
    display: flex;
    font-weight: bold;
    margin-top:10px;
    margin-left: 10px;
    margin-bottom: 0px;
  }

  .errorMessage {
    color: var(--cui-danger);
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    padding: 8px;
  }