<c-dropdown #loginDropdown [autoClose]="'outside'">
  
  <button cButton 
    cDropdownToggle
    class="transparent-button" 
>
 @if (isLoggedIn){
      <c-avatar size="sm" [src]="'./assets/images/avatars_fanta/' + loggedUserId + '.png'"/>
    }@else {
      <svg [cIcon]="icons.cilUser" size="sm" class="social-icon"></svg>
    }
</button>





  @if (!isLoggedIn) {
    <ul cDropdownMenu [ngStyle]="{'min-width.px': 300}">
      <form cForm (ngSubmit)="onLogin()">
        <c-container breakpoint="md" class="px-4">
          <c-row [gutter]="{gy: 5}">
            <c-col>
              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl  
                  class="m-2" 
                  type="text" 
                  id="username" 
                  [(ngModel)]="username" 
                  name="username" 
                  placeholder="username"
                  required
                >
                <label cLabel for="SignInUsername">Username:</label>
              </div>
            </c-col>
          </c-row>
          <c-row [gutter]="{gy: 5}">
            <c-col>
              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl 
                id="password" 
                placeholder="Password" 
                type="password" 
                class="m-2" 
                autocomplete="off"
                [(ngModel)]="password" 
                name="password" 
                required
                >
                @if (errorMessage) { <p class="errorMessage">{{ errorMessage }}</p> }
                <label cLabel for="password">Password:</label>
              </div>
            </c-col>
          </c-row>
          <div class="container">
            <button cButton class="m-1" color="primary" type="submit">Accedi</button>
          </div>
        </c-container>
      </form>
      <div class="container">
        <button (click)="openRegistrationModal()" color="link" cButton>oppure registrati</button>
      </div>
    </ul>
  } @else {
    <ul cDropdownMenu>
      <li>
        <a cDropdownItem>
          <button cButton (click)="onLogout()" color="transparent">
            <c-row class="align-items-center">
              <c-col>
                Logout
              </c-col>
              <c-col cols="auto">
                <svg [cIcon]="logoutIcon" style="width: 1rem; height: 1rem;"></svg>
              </c-col>
            </c-row>
          </button>
        </a>
      </li>
    </ul>
  }
</c-dropdown>

<app-registration-modal #registrationModal></app-registration-modal>