
<c-card  class="my-3 mx-sm-2 mx-1" [ngStyle]="{'max-width.px': 540}" color="success" textColor="white" *ngIf="targetDate">
      <c-card-body style="margin: -10px;" >
            <div class="d-flex text-center">
                <!-- Logo -->
                <div class="mx-sm-2 mx-1">
                    <!-- Logo -->
                    <img src="../../../assets/images/rolex_logo.png" alt="Rolex Logo" width="40px" height="25vh">
                </div>
                <!-- DAYS -->
                <div class="mx-sm-2 mx-1">
                    <div class="display-4 font-weight-bold">{{ timeRemaining.days | number: '2.0' }}</div>
                    <small>GG</small>
                </div>
                <!-- HRS -->
                <div class="mx-sm-2 mx-1">
                    <div class="display-4 font-weight-bold">{{ timeRemaining.hours | number: '2.0' }}</div>
                    <small>ORE</small>
                </div>
                <!-- MINS -->
                <div class="mx-sm-2 mx-1">
                    <div class="display-4 font-weight-bold">{{ timeRemaining.minutes | number: '2.0' }}</div>
                    <small>MIN</small>
                </div>
                <!-- SECS -->
                <div class="mx-sm-2 mx-1">
                    <div class="display-4 font-weight-bold">{{ timeRemaining.seconds | number: '2.0' }}</div>
                    <small>SEC</small>
                </div>
            </div>
      </c-card-body>
  </c-card>