.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .display-4 {
    font-weight: bold;
    font-size: 0.7rem; /* Adjust size of the numbers */
    line-height: 1;
  }
  
  small {
    font-size: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .time-box {
    text-align: center;
  }
  
  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .clock {
    display: flex; /* Imposta il layout flessibile */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    margin-top: 10px; /* Mantiene il margine superiore */
    height: 100%; /* Se necessario, assicura che l'altezza del contenitore permetta la centratura verticale */
  }
  