
<c-card style="margin: 10px;" class="mb-3" [ngStyle]="{'max-width.px': 540}" color="success" textColor="white">
      <c-card-body style="margin: -11px;" >
            <div class="d-flex text-center">
                <!-- Logo -->
                <div class="mx-2">
                    <!-- Logo -->
                    <img src="../../../assets/images/rolex_logo.png" alt="Rolex Logo" width="100%" height="30vh">
                </div>
                <!-- DAYS -->
                <div class="mx-2">
                    <div class="display-4 font-weight-bold">{{ timeRemaining.days | number: '2.0' }}</div>
                    <small>GG</small>
                </div>
                <!-- HRS -->
                <div class="mx-2">
                    <div class="display-4 font-weight-bold">{{ timeRemaining.hours | number: '2.0' }}</div>
                    <small>ORE</small>
                </div>
                <!-- MINS -->
                <div class="mx-2">
                    <div class="display-4 font-weight-bold">{{ timeRemaining.minutes | number: '2.0' }}</div>
                    <small>MIN</small>
                </div>
                <!-- SECS -->
                <div class="mx-2">
                    <div class="display-4 font-weight-bold">{{ timeRemaining.seconds | number: '2.0' }}</div>
                    <small>SEC</small>
                </div>
            </div>
      </c-card-body>
  </c-card>