.rule-text {
  font-weight: 500;
  color: var(--cui-body-color);
}

.points-badge {
  font-weight: 700;
  color: var(--cui-body-color);
  font-size: 1rem;
  white-space: nowrap;
}

:host ::ng-deep .list-group-item {
  background-color: transparent; 
  /* Minimal hover effect can be added if desired */
  &:hover {
      background-color: rgba(var(--cui-body-color-rgb), 0.03);
  }
}

