.custom-table {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden; /* Nasconde i bordi sporgenti */
  }

  .titolo {
    margin-top: 60px;
    margin-bottom: 15px;
  }

  .storico {
    margin-bottom: 25px;
  }