<div>
  <c-container class="m-2">
    <c-row>
      <c-col xs="auto" class="me-auto">
        <table class="mb-3 border border-primary rounded custom-table">
          <tr>
            <td rowspan="2">
              <div>
                <c-avatar
                  [size]="'xl'"
                  src="./assets/images/avatars_fanta/{{ this.user.id }}.png"
                />
              </div>
            </td>
            <th>
              <div>
                <h3>{{ user.username }}</h3>
              </div>
            </th>
          </tr>
          <tr>
            <th>
              <div>
                <h5 [ngStyle]="{ color: 'green' }">
                  Punteggio: {{ this.userFantaPoints }}
                </h5>
              </div>
            </th>
          </tr>
        </table>
      </c-col>
      <c-col>
        <div class="align">
          <button (click)="toggleModalRanking()" cButton>Classifica Fanta</button>
        </div>
      </c-col>
    </c-row>
  </c-container>
  <c-container>
    <c-row>
      <h2 class="mt-4 text-center">Votazioni gare future</h2>
      <p class="lead text-center">
        In questa sezione puoi inserire le votazione per le prossime 4 gare
      </p>
    </c-row>
    <c-row>
      <c-accordion>
        <c-accordion-item
          #item0="cAccordionItem"
          [visible]="false"
          *ngFor="let track of nextTracks"
        >
          <strong>{{ track.track_name }}</strong>
          <ng-template cTemplateId="accordionHeaderTemplate">
            <button
              (click)="item0.toggleItem()"
              [collapsed]="!item0.visible"
              cAccordionButton
            >
              <c-container>
                <c-row>
                  <c-col xs="auto" class="me-auto">
                    <h5 class="card-title mb-0" id="traffic">
                      <svg
                        class="mx-1"
                        size="lg"
                        [cIcon]="allFlags[track.country]"
                      ></svg>
                      <strong>{{ track.name }}</strong>
                      <svg
                        class="mx-1"
                        size="lg"
                        [cIcon]="allFlags[track.country]"
                      ></svg>
                    </h5>
                  </c-col>
                  <c-col xs="auto">
                    <div class="small">
                        <p *ngIf="forms[track.track_id] && (!forms[track.track_id].submitted 
                            && !forms[track.track_id].touched && formStatus[track.track_id] != 1) || formStatus[track.track_id] == 2" class="error">
                          <c-badge color="danger">NON SALVATO!</c-badge>
                        </p>
                        <p *ngIf="formStatus[track.track_id] == 1" class="success">
                          <c-badge color="success">Salvato</c-badge>
                        </p>
                    </div>
                  </c-col>
                  <c-col xs="auto">
                    <div class="small">
                      {{ track.date | date : "dd/MM/yyyy" }}
                    </div>
                  </c-col>
                </c-row>
              </c-container>
            </button>
          </ng-template>
          <ng-template cTemplateId="accordionBodyTemplate">
            <div class="accordion-body">
              <form #form="ngForm" cForm (ngSubmit)="publishVoto(track.track_id, form)">
               <c-container>
                  <c-row
                    *ngFor="let posizione of posizioni | keyvalue"
                    class="my-2"
                    [gutter]="{g: 0, sm: {g: 3}}"
                  >
                    <c-col xs="4" sm="auto">
                      <strong>
                        @if (posizione.key < 7) {
                          {{ posizione?.value }} posto
                        } @else {
                          {{posizione?.value}}
                        }
                      </strong>
                      <img
                        *ngIf="posizione.key <= 3"
                        class="cIcon"
                        style="width: 25px"
                        attr.src="assets/medals/{{ medals.get(posizione.key) }}"
                      />
                      <svg *ngIf="posizione.key == 7" [cIcon]="fireIcon" style="color: purple"></svg>
                      <svg *ngIf="posizione.key == 8" [cIcon]="powerIcon" style="color: red"></svg>
                    </c-col>
                    <c-col xs="8" sm="auto" class="ms-auto">
                      <select
                        attr.aria-label="seleziona il pilota che arrivera {{
                          posizione?.value
                        }}"
                        attr.id="{{ track.track_id + posizione.key }}"
                        [ngModel]="getVoto(track.track_id, posizione.key)"
                        (ngModelChange)="
                          setVoto(track.track_id, posizione.key, $event, form)
                        "
                        name="voto{{ track.track_id + posizione.key }}"
                        cSelect
                        cFormControl
                        required="true"
                      >
                        <option value="0">-- Seleziona un pilota --</option>
                        <option
                          *ngFor="let pilota of piloti"
                          attr.value="{{ pilota.driver_id }}"
                        >
                          {{ pilota.driver_username }}
                        </option>
                      </select>
                    </c-col>
                  </c-row>
                  <c-row>
                    <c-col></c-col>
                    <c-col class="text-center">
                      <button cButton type="submit" >Conferma</button>
    	              </c-col>
                    <c-col class="text-center">
                        <p *ngIf="formStatus[track.track_id] == 2" class="error">
                          <c-badge color="danger">Errore: piloti assenti, invalidi, o inseriti più volte :(</c-badge>
                        </p>
                        <p *ngIf="formStatus[track.track_id] == 1" class="success">
                          <c-badge color="success">Preferenze salvate correttamente :)</c-badge>
                        </p>
                    </c-col>

                  </c-row>
                </c-container>
              </form>
            </div>
          </ng-template>
        </c-accordion-item>
      </c-accordion>
    </c-row>
  </c-container>
  <c-container *ngIf="previusTracks.length > 0">
    <c-row>
      <div class="titolo">
        <h2 class="mt-4 text-center titolo">Storico Votazioni</h2>
        <p class="lead text-center">
          In questa sezione puoi visualizzare i punti guadagnati
        </p>
      </div>
    </c-row>

    <c-row class="storico">
      <c-accordion>
        <c-accordion-item
          #item0="cAccordionItem"
          [visible]="false"
          *ngFor="let track of previusTracks"
        >
          <strong>{{ track.track_name }}</strong>
          <ng-template cTemplateId="accordionHeaderTemplate">
            <button
              (click)="item0.toggleItem()"
              [collapsed]="!item0.visible"
              cAccordionButton
            >
              <c-container>
                <c-row>
                  <c-col xs="auto" class="me-auto">
                    <h5 class="card-title mb-0" id="traffic">
                      <svg
                        class="mx-1"
                        size="lg"
                        [cIcon]="allFlags[track.country]"
                      ></svg>
                      <strong>{{ track.name }}</strong>
                      <svg
                        class="mx-1"
                        size="lg"
                        [cIcon]="allFlags[track.country]"
                      ></svg>
                    </h5>
                  </c-col>
                  <c-col xs="auto">
                    <div class="small">
                      {{ track.date | date : "dd/MM/yyyy" }}
                    </div>
                  </c-col>
                </c-row>
              </c-container>
            </button>
          </ng-template>
          <ng-template cTemplateId="accordionBodyTemplate">
            <div class="accordion-body">
              <c-container>
                <c-row>
                  <table
                    [hover]="true"
                    [responsive]="true"
                    [striped]="true"
                    align="middle"
                    cTable
                    class="mb-0 border"
                  >
                    <thead class="text-nowrap text-truncate">
                      <tr>
                        <th class="bg-body-tertiary text-center">Voto</th>
                        <th class="bg-body-tertiary text-center">
                          <svg cIcon name="cilPeople"></svg>
                        </th>
                        <th class="bg-body-tertiary">Username</th>
                        <th class="bg-body-tertiary text-center">
                          Posizione di arrivo
                        </th>
                        <th class="bg-body-tertiary text-center">
                          Punti fatti
                        </th>
                        <th class="bg-body-tertiary text-center">Risultato</th>
                      </tr>
                    </thead>

                    <tbody>
                      <ng-container
                        *ngFor="
                          let voto of votazioni.get(track.track_id);
                          let i = index
                        "
                      >
                        <tr>
                          <td>
                            <div class="text-center fw-semibold">
                              @if (i + 1 < 7 ){
                                <div [class]="">{{ i + 1 }}</div>
                              } @else if ( i + 1 == 7) {
                                <div [class]="">GV</div>
                              } @else {
                                <div [class]="">DNF</div>
                              }
                            </div>
                          </td>
                          <td class="text-center">
                            <c-avatar
                              [size]="'md'"
                              src="./assets/images/avatars/{{
                                getPilota(voto)? getPilota(voto).driver_username: 'invalid'
                              }}.png"
                            />
                          </td>
                          <td>
                            <div>{{ getPilota(voto)? getPilota(voto).driver_username : '-' }}</div>
                            <div
                              class="small text-body-secondary text-nowrap"
                            ></div>
                          </td>
                          <td>
                            @if (i + 1 < 7 ) {
                              <div class="fw-semibold text-center">
                                {{ getPosizioneArrivo(voto, track.track_id) }}
                              </div>
                            } @else if ( i + 1 == 7 ) {
                              <div class="fw-semibold text-center">
                                @if (getFastLap(track.track_id) == voto)
                                {
                                  SI
                                } @else {
                                  NO
                                }
                              </div>
                            } @else {
                              <div class="fw-semibold text-center">
                                @if (fantaService.isDnfCorrect(getDnf(track.track_id), voto))
                                {
                                  SI
                                } @else {
                                  NO
                                }
                              </div>
                            }
                          </td>
                          <td>
                            <div class="fw-semibold text-center">
                              @if (i + 1 < 7) {
                                {{getPunti(voto, track.track_id)}}
                              } @else if ( i + 1 == 7 ) {
                                {{getPuntiFastLap(track.track_id)}}
                              } @else {
                                {{getPuntiDnf(track.track_id)}}
                              }
                            </div>
                          </td>
                          <td>
                            <div class="text-center">
                              @if (i + 1 < 7) {
                                <svg
                                  [cIcon]="isCorrect(voto, track.track_id).icon"
                                  size="lg"
                                  [ngStyle]="{
                                    color: isCorrect(voto, track.track_id).color
                                  }"
                                ></svg>
                              } @else if ( i + 1 == 7 ) {
                                <svg
                                [cIcon]="isCorrectFastLap(track.track_id).icon"
                                size="lg"
                                [ngStyle]="{
                                  color: isCorrectFastLap(track.track_id).color
                                }"
                              ></svg>
                              } @else {
                                <svg
                                [cIcon]="isCorrectDnf(track.track_id).icon"
                                size="lg"
                                [ngStyle]="{
                                  color: isCorrectDnf(track.track_id).color
                                }"
                              ></svg>
                              }
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </c-row>
                <c-row class="m-3">
                  <h4 class="text-center text-success">
                    Totale Punti: {{ getPuntiGp(track.track_id) }}
                  </h4>
                </c-row>
              </c-container>
            </div>
          </ng-template>
        </c-accordion-item>
      </c-accordion>
    </c-row>
  </c-container>
</div>
<c-modal id="liveDemoModal" [visible]="modalRankingVisible">
  <c-modal-header>
    <h5 cModalTitle>Classifica Fanta</h5>
    <button (click)="toggleModalRanking()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-leaderboard></app-leaderboard>
  </c-modal-body>
</c-modal>