<div *ngIf="piloti.length; else goto_loading">
  <c-row ngPreserveWhitespaces class="g-1"> <!-- Aggiunto margine tra le colonne -->
    <c-col *ngFor="let pilota of piloti; index as i" xs="6" md="4" lg="3"> <!-- Modificato per avere un layout responsivo e risolvere problema dimensioni su telefoni -->
      <c-card [cBorder]="pilota.driver_color"  [textColor]="pilota.driver_color" class="mb-4 text-center" >
        <c-card-body> 
          <c-card [textColor]="pilota.driver_color" style="width: 100%;">
            <img [cCardImg]="'top'" src='./assets/images/avatars/{{pilota.driver_username}}.png' alt="{{ pilota.driver_username }}'s avatar" />
            <c-card-body style="height: 120px;">
              <h5 cCardTitle>{{ pilota.driver_username }}</h5>
              <p cCardText>{{ pilota.driver_description }}</p>
            </c-card-body>
            <ul [flush]="true" cListGroup>
              <li cListGroupItem>
                <div class="row">
                  <div class="col-7 border-end"><strong>Posizione:</strong></div>
                  <div class="col-5">{{ i + 1 }}°</div>
                </div>
              </li>
              <li cListGroupItem>
                <div class="row">
                  <div class="col-7 border-end"><strong>Tot. points:</strong></div>
                  <div class="col-5">{{ pilota.total_points }} Pt.</div>
                </div>
              </li>
              <li cListGroupItem>
                <div class="row">
                  <div class="col-7 border-end"><strong>Race:</strong></div>
                  <div class="col-5">{{ pilota.total_race_points }} Pt.</div>
                </div>
              </li>
              <li cListGroupItem>
                <div class="row">
                  <div class="col-7 border-end"><strong>Sprint:</strong></div>
                  <div class="col-5">{{ pilota.total_sprint_points }} Pt.</div>
                </div>
              </li>
              <li cListGroupItem>
                <div class="row">
                  <div class="col-7 border-end"><strong>Qualify:</strong></div>
                  <div class="col-5">{{ pilota.total_qualifying_points }} Pt.</div>
                </div>
              </li>
              <li cListGroupItem>
                <div class="row">
                  <div class="col-7 border-end"><strong>Practice:</strong></div>
                  <div class="col-5">{{ pilota.total_free_practice_points }} Pt.</div>
                </div>
              </li>
              <li cListGroupItem>
                <div class="row">
                  <div class="col-7 border-end"><strong>License:</strong></div>
                  <div class="col-5">{{ pilota.driver_license_pt }} Pt.</div>
                </div>
              </li>
            </ul>

            <!-- Radar Chart -->
            <c-card-body>
              <c-chart 
                type="radar" 
                [data]="pilota.radarChartData" 
                [options]="radarChartOptions">
              </c-chart>
            </c-card-body>

          </c-card>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>


<ng-template #goto_loading>
  <div class="fade show" style="text-align: center; padding-top: calc(100vh / 2); height: 100vh">
    <i class="spinner-border text-danger"></i>
    <span class="m-1"><strong>ASPETTA STRONZO</strong></span>
    <i class="spinner-border text-danger"></i>
  </div></ng-template>
