<div *ngIf="piloti.length; else goto_loading">
  <c-row ngPreserveWhitespaces class="g-1"> <!-- Aggiunto margine tra le colonne -->
    <c-col *ngFor="let pilota of piloti" xs="12" md="6" lg="4"> <!-- Modificato per avere un layout responsivo e risolvere problema dimensioni su telefoni -->
      <c-card class="mb-4">
        <c-card-body>
          <c-card style="width: 100%;">
            <img [cCardImg]="'top'" [src]="pilota.driver_avatar" alt="{{ pilota.driver_username }}'s avatar" />
            <c-card-body>
              
              <h5 cCardTitle>{{ pilota.driver_username }}</h5>
              <p cCardText>{{ pilota.driver_description }}</p>
            </c-card-body>
            <ul [flush]="true" cListGroup>
              <li cListGroupItem>Posizione: {{ pilota.driver_id }}°</li>
              <li cListGroupItem>Tot. points: {{ pilota.total_points }} Pt.</li>
              <li cListGroupItem>Race: {{ pilota.total_race_points }} Pt.</li>
              <li cListGroupItem>Sprint: {{ pilota.total_sprint_points }} Pt.</li>
              <li cListGroupItem>Qualify: {{ pilota.total_qualifying_points }} Pt.</li>
              <li cListGroupItem>Practice: {{ pilota.total_free_practice_points }} Pt.</li>
            </ul>

            <!-- Radar Chart -->
            <c-card-body>
              <c-chart 
                type="radar" 
                [data]="pilota.radarChartData" 
                [options]="radarChartOptions"
                style="height: 400px;">
              </c-chart>
            </c-card-body>

          </c-card>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
<ng-template #goto_loading>
  <div class="fade show" style="text-align: center; padding-top: calc(100vh / 2); height: 100vh">
    <i class="spinner-border text-danger"></i>
    <span class="m-1"><strong>ASPETTA STRONZO</strong></span>
    <i class="spinner-border text-danger"></i>
  </div></ng-template>
