:host {
  display: block;
  width: 100%;
  overflow-x: hidden;
}

:host ::ng-deep {
  .body {
    overflow: auto;
  }

  .tab-content {
    width: 100%;
    overflow-x: hidden;
  }

  c-tab-panel {
    width: 100%;
    overflow-x: hidden;
  }
}

// Variabili per la personalizzazione rapida
$grid-gutter-size: 0.1rem; // Modifica questo valore per cambiare lo spazio tra le card

// Override dello spacing della griglia
:host ::ng-deep {
  c-row {
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    > c-col {
      padding: #{$grid-gutter-size} !important;
    }
  }
}

// Stili per il loading spinner
.loading-container {
  text-align: center;
  padding-top: calc(100vh / 2);
  height: 100vh;
  
  .spinner-border {
    margin: 0 0.5rem;
  }
}