<c-row ngPreserveWhitespaces class="g-1"> <!-- Aggiunto margine tra le colonne -->

    <c-col *ngFor="let user of piloti" xs="12" md="6" lg="4"> <!-- Modificato per avere un layout responsivo e risolvere problema dimensioni su telefoni -->
      <c-card class="mb-4">
        <c-card-body>
          <c-card style="width: 100%;">
            <img [cCardImg]="'top'" [src]="user.avatar" alt="{{ user.username }}'s avatar" />
            <c-card-body>
              
              <h5 cCardTitle>{{ user.username }}</h5>
              <p cCardText>{{ user.description }}</p>
            </c-card-body>
            <ul [flush]="true" cListGroup>
              <li cListGroupItem>Championship: {{ user.Championship }} Pt.</li>
              <li cListGroupItem>Race: {{ user.race }} Pt.</li>
              <li cListGroupItem>Qualify: {{ user.qualify }} Pt.</li>
              <li cListGroupItem>Sprint: {{ user.sprint }} Pt.</li>
              <li cListGroupItem>Practice: {{ user.practice }} Pt.</li>
              <li cListGroupItem>Ultima vittoria: {{ user.lastwin }}</li>
              <li cListGroupItem>Posizione: {{ user.position }}°</li>
            </ul>

            <!-- Radar Chart -->
            <c-card-body>
              <c-chart 
                type="radar" 
                [data]="user.radarChartData" 
                [options]="radarChartOptions"
                style="height: 400px;">
              </c-chart>
            </c-card-body>

          </c-card>
        </c-card-body>
      </c-card>
    </c-col>
</c-row>
