
c-chart {
    width: 100% !important; 
    max-width: 600px; 
    margin: 0 auto; 
  }
  
  .radar-chart-container {
    aspect-ratio: 1; /* Mantiene il rapporto 1:1, rendendo il contenitore quadrato */
    display: flex; /* Per centrare il canvas */
    justify-content: center;
    align-items: center;
  }