<c-container class="d-flex justify-content-center align-items-center min-vh-100">
  <c-row class="justify-content-center w-100">
    <h1 class="text-center">Fanta di RaceForFederica🎰</h1>
    <p class="text-center mb-4">Competi con altri giocatori per stabile chi ne sa di più sui nostri eroi.<br> 
      Ogni settimana, indovina le posizioni finali dei piloti nel Gran Premio e guadagna punti!</p>  
    <c-col md="8">
      <h2 class="text-center">Classifica</h2>
      <app-leaderboard></app-leaderboard>
    </c-col>
  </c-row>
</c-container>