<c-container breakpoint="md">
<c-row>
  <c-col md="9">
    <app-leaderboard></app-leaderboard>
  </c-col>
  <c-col md="3">
    <div></div>
    <div class="container">
      <h2>Login</h2>
    </div>
      <form cForm (ngSubmit)="onLogin()">
        <c-container breakpoint="md" class="px-4">
          <c-row [gutter]="{gy: 5}">
            <c-col>
              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl  
                  class="m-2" 
                  type="text" 
                  id="username" 
                  [(ngModel)]="username" 
                  name="username" 
                  placeholder="username"
                  required
                >
                <label cLabel for="username">Username:</label>
              </div>
            </c-col>
          </c-row>
          <c-row [gutter]="{gy: 5}">
            <c-col>
              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl 
                id="password" 
                placeholder="Password" 
                type="password" 
                class="m-2" 
                autocomplete="off"
                [(ngModel)]="password" 
                name="password" 
                required
                >
                <label cLabel for="password">Password:</label>
              </div>
            </c-col>
          </c-row>
          <div class="container">
            <button cButton class="m-1" color="primary" type="submit">Accedi</button>
          </div>
          
  

        </c-container>
      </form>
      <div class="container">
        <button [cModalToggle]="verticallyCenteredModal.id" color="link" cButton>oppure registrati</button>
        </div>





        <c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
          <c-modal-header>
            <h5 cModalTitle>Registrati</h5>
          </c-modal-header>

        <form cForm (ngSubmit)="onRegistration()">
          <c-modal-body>
             
              <c-container breakpoint="md" class="px-4">

                <c-row [gutter]="{gy: 5}">
                  <c-col>
                    <div [cFormFloating]="true" class="mb-3">
                      <input cFormControl 
                      id="name" 
                      placeholder="Nome" 
                      type="Nome" 
                      class="m-2" 
                      autocomplete="on"
                      [(ngModel)]="name" 
                      name="Nome" 
                      required
                      >
                      <label cLabel for="Nome">Nome:</label>
                    </div>
                  </c-col>
                </c-row>              

                <c-row [gutter]="{gy: 5}">
                  <c-col>
                    <div [cFormFloating]="true" class="mb-3">
                      <input cFormControl 
                      id="Cognome" 
                      placeholder="Cognome" 
                      type="Cognome" 
                      class="m-2" 
                      autocomplete="on"
                      [(ngModel)]="surname" 
                      name="Cognome" 
                      required
                      >
                      <label cLabel for="Cognome">Cognome:</label>
                    </div>
                  </c-col>
                </c-row>              


                <c-row [gutter]="{gy: 5}">
                  <c-col>
                    <div [cFormFloating]="true" class="mb-3">
                      <input cFormControl  
                        class="m-2" 
                        type="text" 
                        id="username" 
                        [(ngModel)]="username" 
                        name="username" 
                        placeholder="username"
                        required
                      >
                      <label cLabel for="username">Username:</label>
                    </div>
                  </c-col>
                </c-row>

                <c-row [gutter]="{gy: 5}">
                  <c-col>
                    <div [cFormFloating]="true" class="mb-3">
                      <input cFormControl 
                      id="password" 
                      placeholder="Password" 
                      type="password" 
                      class="m-2" 
                      autocomplete="off"
                      [(ngModel)]="password" 
                      name="password" 
                      required
                      >
                      <label cLabel for="password">Password:</label>
                    </div>
                  </c-col>
                </c-row>                
        

                <c-row [gutter]="{gy: 5}">
                  <c-col>
                    <div [cFormFloating]="true" class="mb-3">
                      <input 
                        cFormControl
                        type="file" 
                        class="m-2" 
                        id="photo" 
                        name="photo"
                        (change)="onFileChange($event)"
                        accept="image/*"
                        required
                      >
                      <label cLabel for="photo">Carica Foto:</label>
                      <small class="text-danger" *ngIf="photoError">{{ photoError }}</small>
                    </div>
                  </c-col>
                </c-row>
              </c-container>
          </c-modal-body>
          <c-modal-footer>
            <button [cModalToggle]="verticallyCenteredModal.id" cButton color="secondary">
              Close
            </button>
            <button cButton class="m-1" color="primary" type="submit" >Registrati</button>
          </c-modal-footer>
        </form>
        </c-modal>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </c-col>
</c-row>
</c-container>