<c-container breakpoint="md">
<c-row>
  <c-col md="9">
    <c-row>
      <h2 class="text-center">Classifica Fanta</h2>
    </c-row>
    <app-leaderboard></app-leaderboard>
  </c-col>
  <c-col md="3">
    <div></div>
    <div class="container">
      <h2>Login</h2>
    </div>
      <form cForm (ngSubmit)="onLogin()">
        <c-container breakpoint="md" class="px-4">
          <c-row [gutter]="{gy: 5}">
            <c-col>
              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl  
                  class="m-2" 
                  type="text" 
                  id="username" 
                  [(ngModel)]="username" 
                  name="username" 
                  placeholder="username"
                  required
                >
                <label cLabel for="username">Username:</label>
              </div>
            </c-col>
          </c-row>
          <c-row [gutter]="{gy: 5}">
            <c-col>
              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl 
                id="password" 
                placeholder="Password" 
                type="password" 
                class="m-2" 
                autocomplete="off"
                [(ngModel)]="password" 
                name="password" 
                required
                >
                <label cLabel for="password">Password:</label>
              </div>
            </c-col>
          </c-row>
          <div class="container">
            <button cButton class="m-1" color="primary" type="submit">Accedi</button>
          </div>
          
  

        </c-container>
      </form>
      <div class="container">
        <button [cModalToggle]="verticallyCenteredModal.id" color="link" cButton>oppure registrati</button>
      </div>
      <div></div>
      <div></div>
      <div>
        <c-card class="mb-3 text-center">
          <c-card-header class="bg-warning" style="color:white">
            <h5>
              <svg [cIcon]="warningIcon" size="lg" style="color: white"></svg>
              Carica il tuo avatar
              <svg [cIcon]="warningIcon" size="lg" style="color: white"></svg>
            </h5>
          </c-card-header>
          <c-card-body class="bg-gradient">
            <p cCardText>Carica subito la tua immagine come avatar tramite Google Form!</p>
            <a cButton color="warning" href="https://docs.google.com/forms/d/e/1FAIpQLSd9I8gCbiSNbKz5D9mKvkqX3dxjTRw515Js4WdxQ-yqAYzUcQ/viewform?usp=dialog">Carica Immagine</a>
          </c-card-body>
        </c-card>
      </div>

        <c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
          <c-modal-header>
            <h5 cModalTitle>Registrati</h5>
          </c-modal-header>

          <form cForm (ngSubmit)="onRegistration()" #registrationForm="ngForm">
            <c-modal-body>
            <c-container breakpoint="md" class="px-4">
              
              <!-- Campo Nome -->
              <c-row [gutter]="{gy: 5}">
                <c-col>
                  <div [cFormFloating]="true" class="mb-3">
                    <input 
                      cFormControl 
                      id="name" 
                      placeholder="Nome" 
                      type="text" 
                      class="m-2" 
                      autocomplete="on"
                      [(ngModel)]="name" 
                      name="name" 
                      #nameField="ngModel"
                      required
                    >
                    <label cLabel for="name">Nome:</label>
                    <small class="text-danger" *ngIf="nameField.invalid && nameField.touched">Il nome è obbligatorio.</small>
                  </div>
                </c-col>
              </c-row>
          
              <!-- Campo Cognome -->
              <c-row [gutter]="{gy: 5}">
                <c-col>
                  <div [cFormFloating]="true" class="mb-3">
                    <input 
                      cFormControl 
                      id="surname" 
                      placeholder="Cognome" 
                      type="text" 
                      class="m-2" 
                      autocomplete="on"
                      [(ngModel)]="surname" 
                      name="surname" 
                      #surnameField="ngModel"
                      required
                    >
                    <label cLabel for="surname">Cognome:</label>
                    <small class="text-danger" *ngIf="surnameField.invalid && surnameField.touched">Il cognome è obbligatorio.</small>
                  </div>
                </c-col>
              </c-row>
          
              <!-- Campo Username -->
              <c-row [gutter]="{gy: 5}">
                <c-col>
                  <div [cFormFloating]="true" class="mb-3">
                    <input 
                      cFormControl 
                      id="username" 
                      placeholder="Username" 
                      type="text" 
                      class="m-2" 
                      [(ngModel)]="username" 
                      name="username" 
                      #usernameField="ngModel"
                      required
                    >
                    <label cLabel for="username">Username:</label>
                    <small class="text-danger" *ngIf="usernameError">{{ usernameError }}</small>
                    <small class="text-danger" *ngIf="usernameField.invalid && usernameField.touched">L'username è obbligatorio.</small>
                  </div>
                </c-col>
              </c-row>
          
              <div class="avviso">
                <p>
                  <svg [cIcon]="warningIcon" style="color: #eed202"></svg>
                  DISCLAIMER: non usare passwords importanti. Le password non vengono criptate
                  <svg [cIcon]="warningIcon" style="color: #eed202"></svg>
                </p>
              </div>
              
              <!-- Campo Password -->
              <c-row [gutter]="{gy: 5}">
                <c-col>
                  <div [cFormFloating]="true" class="mb-3">
                    <input 
                      cFormControl 
                      id="password" 
                      placeholder="Password" 
                      type="password" 
                      class="m-2" 
                      [(ngModel)]="password" 
                      name="password" 
                      #passwordField="ngModel"
                      required
                      minlength="4"
                    >
                    
                    <label cLabel for="password">Password:</label>
                    <small class="text-danger" *ngIf="passwordField.invalid && passwordField.touched">La password è obbligatoria.</small>
                  </div>
                </c-col>
              </c-row>
      
            </c-container>
          </c-modal-body>
          <c-modal-footer>
            <button [cModalToggle]="verticallyCenteredModal.id" cButton color="secondary">
              Close
            </button>
            <button cButton class="btn btn-primary"  type="submit" [disabled]="registrationForm.invalid" >Registrati</button>
          </c-modal-footer>
          </form>
        </c-modal>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </c-col>
</c-row>
</c-container>
