<c-container breakpoint="md">
    <h2>Accedi</h2>
    <form cForm (ngSubmit)="onLogin()">
      <c-container breakpoint="md" class="px-4">
        <c-row [gutter]="{gy: 5}">
          <c-col>
            <div [cFormFloating]="true" class="mb-3">
              <input cFormControl  
                class="m-2" 
                type="text" 
                id="username" 
                [(ngModel)]="username" 
                name="username" 
                placeholder="name@example.com"
                required
              >
              <label cLabel for="username">Username:</label>
            </div>
          </c-col>
        </c-row>
        <c-row [gutter]="{gy: 5}">
          <c-col>
            <div [cFormFloating]="true" class="mb-3">
              <input cFormControl 
              id="password" 
              placeholder="Password" 
              type="password" 
              class="m-2" 
              autocomplete="off"
              [(ngModel)]="password" 
              name="password" 
              required
              >
              <label cLabel for="password">Password:</label>
            </div>
          </c-col>
        </c-row>
        <button cButton class="m-1" color="primary" type="submit">Accedi</button>
      </c-container>
    </form>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </c-container>