<c-row>
    <table
        [hover]="true"
        [responsive]="true"
        [striped]="true"
        align="middle"
        cTable
        class="mb-0 border rounded custom-table"
    >
        <thead class="text-nowrap text-truncate">
            <tr>
                <th class="bg-body-tertiary text-center">Pos.</th>
                <th class="bg-body-tertiary text-center"><svg cIcon name="cilPeople"></svg></th>
                <th class="bg-body-tertiary">Username</th>
                <th class="bg-body-tertiary text-center" *ngIf="showVotes">Voti</th>
                <th class="bg-body-tertiary text-center">Punti</th>
            </tr>
        </thead>
        <tbody>
            @for (leaderBoard of leaderBoards.slice(0, maxDisplayable); track leaderBoard.id; let i = $index) {
                <tr>
                    <td>
                        <div class="text-center fw-semibold">
                            <div [class]="">#{{ i+1 }}</div>
                        </div>
                    </td>
                    <td class="text-center">
                        <c-avatar
                            [size]="'md'"
                            [src]="GetAvatar(leaderBoard.id, leaderBoard.avatarImage)"
                        />
                    </td>
                    <td>
                        <div>{{ leaderBoard.username }}</div>
                        <div class="small text-body-secondary text-nowrap"></div>
                    </td>
                    <td *ngIf="showVotes">
                        <div class="text-center">
                            {{ leaderBoard.numberVotes }} / {{totNumberVotes}}
                        </div>
                    </td>
                    <td>
                        <div class="fw-semibold text-center">
                            {{ leaderBoard.points }}
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</c-row>

