<c-row ngPreserveWhitespaces>
    <c-col xs="12" *ngFor="let gp of championship_data; let id_gp = index">
      <c-card class="mb-4">
        <c-card-header>
          <c-container>
            <c-row>
              <c-col xs="auto" class="me-auto">
                <h5 class="card-title mb-0" id="traffic">
                  <svg size='lg' [cIcon]="allFlags[gp.track_country]"></svg>
                  <strong>{{gp.track_name}}</strong>
                  <svg size='lg' [cIcon]="allFlags[gp.track_country]"></svg>
                </h5>
              </c-col>
              @if (gp.gran_prix_has_sprint == 1) {
                <c-col xs="auto">
                  <c-badge color="info">Sprint</c-badge>
                </c-col>
              }
              <c-col xs="auto">
                <div class="small">{{gp.gran_prix_date | date: 'dd/MM/yyyy'}}</div>
              </c-col>
          </c-row>
        </c-container>
        </c-card-header>
        <c-card-body>
            <table [striped]="true" cTable>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Gara</th>
                  <th scope="col">Sprint</th>
                  <th scope="col">Qualifica</th>
                  <th scope="col">Prove Libere</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" [ngStyle]="{'color':'green'}">
                    <img
                    class="cIcon"
                    style="width: 25px"
                    src="assets/medals/medal_first.svg"
                  />
                  </th>
                  <td [ngStyle]="{'color':'green'}">{{gp.driver_race_1_place}}</td>
                  <td [ngStyle]="{'color':'green'}">{{gp.driver_sprint_1_place}}</td>
                  <td [ngStyle]="{'color':'green'}">{{gp.driver_qualifying_1_place}}</td>
                  <td [ngStyle]="{'color':'green'}">{{gp.driver_free_practice_1_place}}</td>
                </tr>
                <tr>
                  <th scope="row" [ngStyle]="{'color':'green'}">
                    <img
                    class="cIcon"
                    style="width: 25px"
                    src="assets/medals/medal_second.svg"
                  />                  <td>{{gp.driver_race_2_place}}</td>
                  <td>{{gp.driver_sprint_2_place}}</td>
                  <td>{{gp.driver_qualifying_2_place}}</td>
                  <td>{{gp.driver_free_practice_2_place}}</td>
                </tr>
                <tr>
                  <th scope="row" [ngStyle]="{'color':'green'}">
                    <img
                    class="cIcon"
                    style="width: 25px"
                    src="assets/medals/medal_third.svg"
                  />                  <td>{{gp.driver_race_3_place}}</td>
                  <td>{{gp.driver_sprint_3_place}}</td>
                  <td>{{gp.driver_qualifying_3_place}}</td>
                  <td>{{gp.driver_free_practice_3_place}}</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>{{gp.driver_race_4_place}}</td>
                  <td>{{gp.driver_sprint_4_place}}</td>
                  <td>{{gp.driver_qualifying_4_place}}</td>
                  <td>{{gp.driver_free_practice_4_place}}</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>{{gp.driver_race_5_place}}</td>
                  <td>{{gp.driver_sprint_5_place}}</td>
                  <td>{{gp.driver_qualifying_5_place}}</td>
                  <td>{{gp.driver_free_practice_5_place}}</td>
                </tr>
                <tr>
                  <th scope="row" [ngStyle]="{'color':'red'}">6</th>
                  <td [ngStyle]="{'color':'red'}">{{gp.driver_race_6_place}}</td>
                  <td [ngStyle]="{'color':'red'}">{{gp.driver_sprint_6_place}}</td>
                  <td [ngStyle]="{'color':'red'}">{{gp.driver_qualifying_6_place}}</td>
                  <td [ngStyle]="{'color':'red'}">{{gp.driver_free_practice_6_place}}</td>
                </tr>
                <tr>
                  <th scope="row" [ngStyle]="{'color':'purple'}">
                    Fast Lap
                    <svg [cIcon]="fireIcon"></svg>
                  </th>
                  <td [ngStyle]="{'color':'purple'}">{{gp.driver_race_fast_lap}}</td>
                  <td [ngStyle]="{'color':'purple'}">{{gp.driver_sprint_fast_lap}}</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">DNF</th>
                  <td>{{gp.race_dnf}}</td>
                  <td>{{gp.sprint_dnf}}</td>
                  <td></td>
                  <td></td>
                </tr>
            </tbody>
            </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  