.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .avviso {
    display: flex;
    font-weight: bold;
    margin-top:10px;
    margin-left: 10px;
    margin-bottom: 0px;
  }