:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

.carousel-control-prev{
  filter: invert(1);
}
.carousel-control-next{
  filter: invert(1);
}

.carousel-indicators{
  filter: invert(1);
}

@media (max-width: 415px) {
  .pilot {
    display: none;
  }
}

/* Modal animation with slide-in from bottom effect */
@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modalAnimation {
  animation: slideInFromBottom 0.7s ease-in-out;
}
