<c-row>
  <c-col xs="12" md="6">
    <c-card class="mb-4">
      <c-card-header>
        <h4 class="card-title mb-0" id="traffic">Championship Standings</h4>
        <strong></strong>
      </c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead class="text-nowrap text-truncate">
            <tr>
              <th class="bg-body-tertiary text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th class="bg-body-tertiary"></th>
              <th class="bg-body-tertiary">Username</th>
              <th class="bg-body-tertiary text-center">Car</th>
              <th class="bg-body-tertiary">Pilot</th>
              <th class="bg-body-tertiary text-center">tot. Points</th>
            </tr>
          </thead>
          <tbody>
            @for (user of championship_standings_users; track
            user.driver_username; let i = $index) {
            <tr>
              <td>
                <div class="fw-semibold text-center">#{{ user.driver_id }}</div>
              </td>
              <td class="text-center">
                <c-avatar
                  [size]="'md'"
                  src="./assets/images/avatars/{{ user.driver_username }}.jpg"
                />
              </td>
              <td>
                <div>{{ user.driver_username }}</div>
                <div class="small text-body-secondary text-nowrap"></div>
              </td>
              <td class="text-center">
                <img
                  width="100%"
                  height="40px"
                  src="./assets/images/constructors/{{ user.car_name }}.svg"
                />
              </td>
              <td>
                <div class="text-nowrap">
                  {{ user.pilot_name }} {{ user.pilot_surname }}
                </div>
              </td>
              <td>
                <div class="fw-semibold text-center">
                  {{ user.total_points }}
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>
        <h4 class="card-title mb-0" id="traffic">
          Next Track: {{ championshipNextTrack.name }}
          <svg
            size="lg"
            [cIcon]="allFlags[championshipNextTrack.country]"
          ></svg>
        </h4>
      </c-card-header>
      <c-card-body>
        <img
          height="flex"
          width="100%"
          src="./assets/images/tracks/{{ championshipNextTrack.track_id }}.png"
        />
        <c-row>
          <c-col>
            <div class="small text-body-secondary">
              <svg [cIcon]="calendarIcon"></svg>
              <strong> Date:</strong> {{ championshipNextTrack.date }}
            </div>
          </c-col>
          <c-col class="text-end">
            <div class="small text-body-secondary">
              <svg [cIcon]="fireIcon"></svg>
              <strong> Fastest Lap:</strong>
              {{ championshipNextTrack.besttime_driver_time }} ({{
                championshipNextTrack.username
              }})
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-card class="my-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Championship Fight</h4>
        <div class="small text-body-secondary">Pilots trend after every GP</div>
      </c-col>
      <c-col sm="7">
        <form [formGroup]="trafficRadioGroup">
          <c-button-group class="float-end me-3" role="group">
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Month"
              id="radioMonth"
            />
            <label
              (click)="setTrafficPeriod('Month')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
              for="radioMonth"
            >
              Last 8 GP
            </label>
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Year"
              id="radioYear"
            />
            <label
              (click)="setTrafficPeriod('Year')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
              for="radioYear"
            >
              All
            </label>
          </c-button-group>
        </form>
      </c-col>
    </c-row>
    <c-chart
      [data]="mainChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 40 }"
      [options]="mainChart.options"
      [type]="mainChart.type"
      (chartRef)="handleChartRef($event)"
    >
      Main chart
    </c-chart>
  </c-card-body>
  <c-card-footer>
    <c-row
      class="text-center mb-2"
      [xl]="5"
      [lg]="4"
      [sm]="2"
      [xs]="1"
      [gutter]="4"
    >
    </c-row>
  </c-card-footer>
</c-card>

<!-- <app-widgets-brand [withCharts]="true" /> -->
