:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

.carousel-control-prev{
  filter: invert(1);
}
.carousel-control-next{
  filter: invert(1);
}

.carousel-indicators{
  filter: invert(1);
}

@media (max-width: 415px) {
  .pilot {
    display: none;
  }
}