// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;

// Imposta la dimensione base del font
$font-size-base: 0.65rem;
$font-size-xs: 0.6rem;    
$font-size-md: 0.8rem; 
$font-size-lg: 0.8rem;       